* p{
    margin: 0;
    padding: 0;
}
body{
    margin: 200px 100px;
    align-items: center;
}
.image{
    display: flex;
    justify-content: center;

}
.image img {
    height: 120px;
}
.container{
    display: block;
    text-align: -webkit-center;
    background-color: #c3c0c0;
}
.actions {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 2px 0;
}
.actions button {
    font-size: 18px;
    align-items: center;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}
.footer{
    display: grid;
    grid-template-columns: 39% 20% 39%;
    gap: 1%;
    text-align: center;
    margin-top: 1px;
    justify-content: center;
}
.fotter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.footer-left{
    background-color: #7EE5DA;
    font-size: 18px;
}
.footer-center{
    background-color: #70CCC2;
    font-size: 18px;

}
.footer-right{
    background-color: #62B3AA;
    font-size: 18px;

}
.footer-right input{
    width: fit-content;
}
.footer-right button{
    width: max-content;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
    margin: 5;
}


.copyright{
    text-align: center;
    padding: 30px;
}